*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    height:100vh;

    background-image:url("../home.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    position:relative;

    overflow:hidden;

    font-family:Poppins,sans-serif;
}

button{

    position:absolute;

    top:60%;
    left:50%;

    transform:translate(-50%,-50%);

    padding:15px 35px;

    font-size:17px;

    font-weight:700;

    border: ;

    border-radius:50px;

    cursor:pointer;

    color:white;

    background:rgba(0,0,0,.7);

    border:2px solid #330715;

    backdrop-filter:blur(10px);

    transition:.35s;

    box-shadow:0 12px 30px rgba(0,0,0,.5);

}

button:hover{

    transform:translate(-50%,-50%) scale(1.08);

    background:#ff5d91;

}

button:active{

    transform:translate(-50%,-50%) scale(.95);

}